.vehicle-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .vehicle-table tr {
    border-bottom: 1px solid #0d0303;
  }

  .vehicle-table td {
    border-right: 1px solid #0d0303;
  }
  
  .vehicle-table th:not(:last-child),
  .vehicle-table td:not(:last-child) {
    width: min-content;
    padding: 0.5rem;
  }

  .vehicle-table-override-td {
    width: 110px;
    padding: 0.5rem;
  }
  
  .vehicle-table th:last-child,
  .vehicle-table td:last-child {
    width: 100%;
    padding: 0.5rem;
  }

  .pinned-button {
    position: fixed;        /* Changed from absolute to fixed */
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    cursor: pointer;
    z-index: 1000;         /* Increased z-index to ensure it stays above all content */
  }
  
  .pinned-button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }
  
  .pinned-button:hover:not(:disabled) {
    background-color: #0056b3;
  }